<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="form__container">
        <div class="title">Вход</div>
        <div class="form__inputs">
            <div class="input_block">
                <input formControlName="email" type="email" type="text"  placeholder="Логин" class="input">
                <div *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched" class="error">Неверный логин</div>
            </div> 
            <div class="input_block">
                <input formControlName="password" type="password" type="text"  placeholder="Пароль" class="input">
                <div *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched" class="error">Неверный пароль</div>    
            </div>
        </div>
        <div class="form__send_data">
            <button (keypress)="submitLogin()" class="send_data">
                Войти
            </button>
        </div>  
    </form>
</div>

<!-- <router-outlet></router-outlet> -->
