<form [formGroup]="relationshipsForm" (ngSubmit)="relationships()" class="auto__container">
    <div class="title">Связи категорий</div>
    <div class="inputs">
        <div class="input__block">
            <!-- <input formControlName="parent" type="text" placeholder="Родительская" class="input"> -->
            <select formControlName="parent" class="input" placeholder="Родительская" name="parent" id="parent">

            </select>
        </div>
        <div class="input__block">
            <!-- <input formControlName="child" type="text" placeholder="Дочерняя" class="input"> -->
            <select formControlName="child" class="input" placeholder="Дочерняя" name="child" id="child">
                
            </select>
        </div>
    </div>
    <div (keypress)="relationships()" class="button__block">
        <button class="button">Добавить</button>
    </div>
</form>
